@font-face {
    font-family: "Ringside";
    src:url("fonts/RingsideCondensed-Semibold.otf");
}

body {
	font-family: Ringside, sans-serif;
	padding-left: 50px;
	padding-top: 50px;
}

#premiums-chart-container .axis {
	font-family: Ringside, sans-serif;
	font-weight: bold;
}

#premiums-chart-container .line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

#premiums-chart-container .overlay {
  fill: none;
  pointer-events: all;
}

#premiums-chart-container .focus circle {
  fill: none;
  stroke: red;
}

#premiums-chart-container text.label_text {
	font-family: Ringside, sans-serif;
}

#premiums-chart-container text.value_text {
	font-family: Ringside, sans-serif;
	fill: #4A9C2D;
	font-size: 1.05em;
	text-anchor: middle;
	font-weight: bold;

}

#premiums-chart-container .focus text {
	font-family: Ringside, sans-serif;
	font-size: .8em;
	font-weight: bold;
}

#premiums-chart-container .legend text {
	font-family: Ringside, sans-serif;
	font-size: .8em;
	font-weight: bold;
}