@font-face {
    font-family: "Ringside-Semibold";
    src:url("fonts/RingsideCondensed-Semibold.otf");
}
@font-face {
    font-family: "Ringside";
    src:url("fonts/RingsideCondensed-Light.otf");
}

html {
	background-color: #FFFFFF;
}

h1 {
	margin-left: 15px;
	font-family: Ringside-Semibold, sans-serif;
}

body {
	padding: 10px 20px 10px 20px;
	font-family: Ringside, sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

text {
	font-family: Ringside, sans-serif;
	font-size: 1.1em;
	text-anchor: middle;
	pointer-events: none;
}

.label_text, .value_text {
	font-family: Ringside-Semibold, sans-serif;
}

.sublabel_image {
	pointer-events: none;
}

.axis {
	stroke-opacity: 0;
}

g text {
	font-family: Ringside-Semibold, sans-serif !important;
}